{% extends './base.html' %}
{% load static %}

{% block content %}
<div class="col-lg-12">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{% url 'article_list' %}">Home</a></li>
<li class="breadcrumb-item"><a href="/category/{{article.category}}">{{article.get_category_display}}</a></li>
<li class="breadcrumb-item"><a href="#">News Details</a></li>
</ol>
</nav>
</div>


<div class="psot-details pb-80 pt-40">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="details-img mb-40">
<img class="img-fluid" src="{{ article.thumbnail.url }}" alt="">
</div>
</div>
</div>
<div class="row">
<div class="col-lg-8">
<div class="about-details-cap">
<h2>{{article.title}}</h2>
</div>
</div>

<div class="col-lg-8">
<div class="about-details-cap">
<h4>By: Multiple Authors</h2>
</div>
</div>

<div class="col-lg-8">
<div class="about-details-cap">
<h6>Added: {{ article.date_added }} Updated: {{ article.date_updated }}</h6>
</div>
</div>

<div class="col-lg-10">
<div class="about-details-cap">

  <p class="mb-30">

  <img id="speakBtn" src="{% static 'img/icon/text-to-speech.png' %}" height="39" width="39"></img>
  <div id = "myDiv">
    {{article.article_text|linebreaks}}
    </div>
  </p>
</div>
</div>

<script>
// Get the button element
var button = document.getElementById("speakBtn");
var isPlaying = false;
var utterance;

// Add a click event listener to the button
button.addEventListener("click", function(){
    if(!isPlaying) {
        isPlaying = true;
        // Get the div element
        var div = document.getElementById("myDiv");
        // Get the text content of the div
        var text = div.textContent;
        // Create a new SpeechSynthesisUtterance object
        utterance = new SpeechSynthesisUtterance(text);
        // Set the language, rate and pitch of the speech
        utterance.lang = 'en-US';
        utterance.rate = 0.8;
        utterance.pitch = 1;
        // Speak the text
        speechSynthesis.speak(utterance);
        button.innerHTML = 'Stop';
    } else {
        isPlaying = false;
        speechSynthesis.cancel();
        button.innerHTML = 'Speak';
    }
});
</script>

<div class="col-lg-8">
<div class="about-details-cap">
<h4>Bibliography</h4>
</div>
</div>

<div class="col-lg-10">
<div class="about-details-cap">
  <p class="mb-30">
    Source One: <a href="{{article.sourceOne}}">{{article.sourceOne}}</a><br />
    Source Two: <a href="{{article.sourceTwo}}">{{article.sourceTwo}}</a> <br />
    Source Three: <a href="{{article.sourceThree}}">{{article.sourceThree}}</a><br />
    Source Four: <a href="{{article.sourceFour}}">{{article.sourceFour}}</a><br />
    Source Five: <a href="{{article.sourceFive}}">{{article.sourceFive}}</a><br />
  </p>
</div>
</div>

<div class="social-iocn pt-20 pb-20">
<a href="https://www.facebook.com"><img class="mr-10 mb-10" src="{% static 'img/gallery/facebook.jpg' %}" alt=""></a>
<a href="https://www.twitter.com"><img class="mr-10 mb-10" src="{% static 'img/gallery/twitter.jpg' %}" alt="#"></a>
<a href="https://www.pinterest.com"><img class="mr-10 mb-10" src="{% static 'img/gallery/pinterest.jpg' %}" alt=""></a>
<a href="https://www.whatsapp.com"><img class="mb-10" src="{% static 'img/gallery/whatsapp.jpg' %}" alt=""></a>
</div>
</div>
</div>
</div>


<div class="coments-area pb-80">
<div class="container">
<div class="row ">
<div class="col-xl-12">
<div class="small-tittle mb-30">
<h2>Drop your message</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-11">
<div class="single-comments mb-40">
<div class="comments-items">
<div class="comments-img">
<a href="#"><img src="{% static 'img/gallery/comment-img1.jpg' %}" alt=""></a>
</div>
<div class="comments-tittle">
<a href="#"><h4>Kristiana</h4></a>
<span>2 days ago</span>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
</div>
</div>
</div>
</div>
<div class="col-lg-11">
<div class="single-comments mb-30 ml-80">
<div class="comments-items">
<div class="comments-img">
<a href="#"><img src="{% static 'img/gallery/comment-img2.jpg' %}" alt=""></a>
</div>
<div class="comments-tittle">
<a href="#"><h4>Jonson Alex</h4> <span class="author">Author</span></a>
<span>2 days ago</span>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-12">

<div class="form-wrapper pt-80">
<div class="row ">
<div class="col-xl-12">
<div class="small-tittle mb-30">
<h2>Drop your message</h2>
</div>
</div>
</div>
<form id="contact-form" action="#" method="POST">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="form-box user-icon mb-15">
<input type="text" name="name" placeholder="Enter your name">
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="form-box email-icon mb-15">
<input type="text" name="email" placeholder="Enter your email">
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="form-box email-icon mb-15">
<input type="text" name="email" placeholder="Website">
</div>
</div>

<div class="col-lg-12">
<div class="form-box message-icon mb-15">
<textarea name="message" id="message" placeholder="Comment"></textarea>
</div>
<div class="submit-info">
<button class="submit-btn2" type="submit">Leave Comment</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
