{% extends './base.html' %}

{% load static %}

{% block content %}
<section class="technology-area mb-30 border-bottom">
<div class="container-fluid">
  {% for article in object_list %}
  <a style="text-decoration: none;" href="{% url 'article_detail' article.slug %}">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ article.thumbnail.url }}" class="img-thumbnail">
      </div>
      <div class="col-md-9">
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
        <span>Added: {{article.date_added}}</span>

      </div>
    </div>
    </a>
  <hr />

</div>
{% endfor %}
</section>
{% endblock %}
