{% extends 'articles/base.html' %}

{% load static %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'article_list' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{% static 'img/logo/PFP.jpg' %}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">{% if user_profile.isVerified %} Verified Journalist {% else %} Unverified Reader {% endif %}</p>
            <p class="text-muted mb-4">Downingtown, PA</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-danger">Edit</button>
              &nbsp;
              &nbsp;
              <button onclick="location.href='/logout'" type="button" class="btn btn-danger">Logout</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://apnews.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@apnews</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">apnews</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">apnews</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">John Smith</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(123) 456-7890</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Blah blah blah, Downingtown PA, 19425</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Select options:</label>
                    {% for option in form.options %}
                    <div class="form-check">
                    {{ option }}
                    <label class="form-check-label" for="{{ option.id_for_label }}"></label>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <input type="submit" value="Save" class="btn btn-danger">
                </div>
                </form>
            </div>
            </div>
            </div>
          </div>
        
        </div>
      </div>

    <div class="row mt-3">
      <div class="col">
        <h2>User Posts:</h2>
      </div>
    </div>
    </div>
{% endblock %}
